{% extends "todos/base.html" %} {% block content %}

<h1>Todo List</h1>

<form method="POST" action="{% url 'todo_add' %}">
  {% csrf_token %}
  <input type="text" name="title" placeholder="Enter a new todo..." required />
  <button type="submit">Add</button>
</form>

<ul>
  {% for todo in todos %}
  <li>
    {% if todo.completed %}
    <s>{{ todo.title }}</s>
    {% else %} {{ todo.title }} {% endif %} &nbsp;
    <a href="{% url 'todo_toggle' todo.pk %}">
      {% if todo.completed %}Undo{% else %}Done{% endif %}
    </a>
    &nbsp;
    <a href="{% url 'todo_delete' todo.pk %}">Delete</a>
  </li>
  {% empty %}
  <li>No todos yet. Add one above!</li>
  {% endfor %}
</ul>

{% endblock %}
